.box {
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    transition: all 5s linear;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:hover {
    /* transform: rotate(360deg); */
    /* transform: scale(2); size double thase */
    /* transform: scale(0.5); */
    /* transform: rotate(-45deg); */
    /* transform: skew(36deg); */
    transform: translate(500px,500px);
}
p{
    font-size: 30px;
}